/* styles.css */

body {
    font-family: Arial, sans-serif;
}
/* .theme-toggle{
    color:red;
    background-color: black;
} */

th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.moving-board{
    display:flex;
    font-size: 20px;
    color:black;
    background-color: lightseagreen;
}
.space{
    margin-left: 20px;
}