/* styles.css */

body {
    font-family: Arial, sans-serif;
    padding: 25px;
    color: white;
    background-color: white;
}

.dark-mode .min-w-full {
    background-color: black;
    color: white;
}

.light-mode .min-w-full{
    background-color: white;
    color: black;
}
th:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

tr {
    transition: background-color 0.3s ease;
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.1);
}






























